<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      .col-md-6{
    display: table-cell;
    position:relative;
    left:50px;
    top: 80px;
    height: auto;
    float: none;
    }
    .col-md-6.new{
      position:relative;
      left:0px;
      top: 80px;

    }
    .card.new{
      position:relative;
      left: 50px;

    }
    /* hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    } */
    .featurette-divider{
      margin: 3rem 0; /* Space out the Bootstrap <hr> more */
      position:relative;
      left: 250px;
      width:70%;

    }
    </style>
  </head>
  <body>
    <!-- <div class="container" style="background: skyblue">
      <h1>Fixed container</h1>
    </div>
    <div class="container-fluid" style="background: yellow">
      <h1>Fluid Container</h1>

    </div> -->

    <!-- <div class="container"> -->

    <div class="jumbotron jumbotron-fluid bg-info text-white" style="background: rgb(11, 213, 248);">
      <div class="container">
        <h1 class="display-1">Welcome to Resume Analyzer</h1>
        <h5>A solution for easy hiring</h5>
    </div>
    </div>

    <div class="container">
      <!-- <p align="center"> -->
        <!-- <h2 class="text-center">Resume Score Generator</h2> -->
        <p class="lead">Resume Analyzer is a tool for recruiters which can help them to select candidates based on their resume and it also helps by providing a overall summary of the resume using which recruiters can know that individual in a more better way in less time.</p>
      <!-- </p> -->
    </div>
    <br>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <!-- ../img/alena-aenami-7p-m-1k.jpg -->
        <div class="card" style="width: 30rem;">

          <img class="card-img-top" src="{{ url_for('static',filename = '1.jpg')}}" alt="Card image cap">

          <div class="card-block">
            <h4 class="card-title">Resume Score Generator</h4>
            <p class="card-text">It's a Machine Learning based model that is getting executed whenever you are clicking the Process button.</p>
            <a href=score class="btn btn-primary">Click Here</a>
          </div>
        </div>
        <div class="col-md-6">
          <h2>Resume Score Generator</h2>
          <p class="lead">It's a Machine Learning based model that is getting executed whenever you are clicking the Process button. It gives you a score, which is generated by the model. This score might be helpful for recruiters or an HR person to shortlist a candidate for an interview. Except that a candidate also can use it to check his/her score and according to that they can make changes to their resume. (The ML model which is been developed is not so much accurate, because it is trained on randomly generated score data.)</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr class="featurette-divider" size="3" >
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6 new">
          <h2>Resume Summarizer</h2>
          <p class="lead">It's a Custom NER(Named Entity Recognition) model which helps to summarize the resume. This is also important, because when the number of applications increases, it gets difficult for higher-ups (recruiters) to look through each and every resume and analyze it. So, this summarizer helps to see the skills and projects of that candidate at a glance.</p>
          <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <!-- ../img/alena-aenami-7p-m-1k.jpg -->
        <div class="card new" style="width: 30rem;">
          {% block content %}
            <img class="card-img-top" src="{{ url_for('static',filename = '2.jpg')}}" alt="Card image cap">
          {% endblock %}
          <div class="card-block">
            <h4 class="card-title">Resume Summarizer</h4>
            <p class="card-text">It's a Custom NER(Named Entity Recognition) model which helps to summarize the resume.</p>
            <a href=summary class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>


    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgb(7, 194, 207);">
        Made with ❤ by Soumyadip
        <a class="text-dark" href="https://github.com/soumya997/Resume-analyzer">Github</a>
      </div>
      <!-- Copyright -->
    </footer>


    <!-- </div> -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
